form.login_form {
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    background-color: #ffcfdd;
    border: 2px solid gray;
    border-radius: 5px;
    padding: 20px;
}
h1 {
   color: #26010c;
	 text-align: center;
	  font-size: 3em;
}